<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>山东大学研究生院 研究生学术论坛</title>

<meta name="keywords" content="山东大学研究生院 研究生学术论坛">
<meta name="description" content="山东大学研究生院 研究生学术论坛">

<link rel="stylesheet" type="text/css" href="/static/w3c/css/basic.css">

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="/static/w3c/js/slider.js"></script>
</head>
<body >
<div class='testheader'>测试模板</div>
<div ><span>{{test}}</span></div>
</body></html>